<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-cloak>

<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/NewEvent.html">Create Event</a></li>
            </ul>
        </div>
    </div>

    <style>
        input.ng-invalid.ng-dirty {
            background-color: pink;}
    </style>

    <div ng-controller="EditEventController" style="padding-right: 20px; padding-left: 20px;">
        <div class="container">
            <form name="newEventForm">
                <fieldset>
                    <label for="eventName">Event Name:</label>
                    <input ng-model="event.name" id="eventName" required placeholder="Name of your event..." type="text">
                    <label for="eventDate">Event Date:</label>
                    <input ng-model="event.date" id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="format (mm/dd/yyyy)..." type="text">
                    <label for="eventTime">Event Time:</label>
                    <input ng-model="event.time" id="eventTime" placeholder="start and end time" type="text">
                    <label for="eventLocation">Event Location</label>
                    <input ng-model="event.location.address" id="eventLocation" placeholder="Address of your event..." type="text">
                    <br>
                    <br>
                    <input ng-model="event.location.city" id="eventCity" class="input-small" placeholder="City..." type="text">
                    <input ng-model="event.location.province" id="eventProvince" class="input-small" placeholder="Province..." type="text">

                    <label for="eventImageUrl">Image:</label>
                    <input ng-model="event.imageUrl" id="eventImageUrl" type="url" class="input-large" placeholder="Url of image...">
                </fieldset>

                <img ng-src="{{event.imageUrl}}" alt="">
                <br>
                <br>
                <button type="button" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/EventController.js"></script>
<script src="js/controllers/EditEventController.js"></script>
<script src="js/services/EventData.js"></script>
<script src="js/filters.js"></script>

</body>
</html>